#chart {
	border: 1px solid black;
	width: 55%;
	float: left;
	background: #f8f8f8;
}

svg {
	width: 100%;
	height: 500px;
}


#hover-menu-group{}

#hover-menu-box{
	fill: #ff0000;
}

.hover-menu-label{
	
}

#hover-menu-button{
	fill: blue;

}
#hover-menu-button-label{
	cursor: pointer;
}
#hover-menu-button:hover, #hover-menu-button-label:hover ~ #hover-menu-button{
	cursor: pointer;
	fill: green;
} 

#hover-menu-pc-name-label{
	font-weight:bold;
}
#hover-menu-pc-cpu-detail{}
#hover-menu-pc-gpu-detail{}
#hover-menu-pc-total-price{}

#software-list{
	border: 1px solid black;
	height:400px; 
	width:18%;
	overflow:hidden; 
	overflow-y:scroll;
}

.software{
	height: 30px;
	border: 1px solid grey;
}

.software-no-run{
	height: 100%;
	width: 100%;
	padding-left: 0.5em;
	background-color: #FF5252;
}

.software-run-min{
	height: 100%;
	width: 100%;
	padding-left: 0.5em;
	background-color: #FFEB52;
}

.software-run-rec{	
	height: 100%;
	width: 100%;
	padding-left: 0.5em;
	background-color: #5AFF52;
}

.software-icon{
	height : 16px;
	width : 16px;
	float: left;
}

.software-label{
	
}

.xAxis path, .xAxis line, .yAxis path, .yAxis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.button {
	margin: 10px;
	border: 1px dashed lightgray;
}

.button:hover {
	background: lightgray;
	cursor: pointer;
}




.gpu1{
	fill: #2b83ba;
	stroke: #000000;
	stroke-width: 1;
}
.gpu1:hover{
	fill: #2b83ba;
	stroke: #ffff00;
	stroke-width: 2;
}

.gpu2{
	fill: #abdda4;
	stroke: #000000;
	stroke-width: 1;
}

.gpu2:hover{
	fill: #abdda4;
	stroke: #ffff00;
	stroke-width: 2;
}

.gpu3{
	fill: #fdae61;
	stroke: #000000;
	stroke-width: 1;
}

.gpu3:hover{
	fill: #fdae61;
	stroke: #ffff00;
	stroke-width: 2;
}

.gpu4{
	fill: #d7191c;
	stroke: #000000;
	stroke-width: 1;
}

.gpu4:hover{
	fill: #d7191c;
	stroke: #ffff00;
	stroke-width: 2;
}

.gpuHidden{
	visibility: hidden;
}